In [ ]:
# â‘  ì¹´í…Œê³ ë¦¬ë³„ ì†Œë¹„ ê·œëª¨ & ë¹ˆë„ (ê¸°ë³¸ ì¤‘ì˜ ê¸°ë³¸)
# ğŸ“Š ì‹œê°í™”

# ì¹´í…Œê³ ë¦¬ë³„ ì´ ì†Œë¹„ê¸ˆì•¡

# ì¹´í…Œê³ ë¦¬ë³„ ì´ ê²°ì œ ê±´ìˆ˜

# ì™œ ì¤‘ìš”?
# â†’ ì¹´ë“œ ì†Œë¹„ ë°ì´í„°ì˜ â€˜ì‹œì¥ ê·œëª¨â€™ë¥¼ ë³´ì—¬ì¤Œ
# â†’ ì¶”ì²œì˜ ê¸°ì¤€ì

In [3]:
# ì‹œê°„ ë‹¨ì¶•ì„ ìœ„í•´ colabì—ì„œ ì•„ë˜ì˜ ì½”ë“œë¡œ ì§„í–‰í•¨

import pandas as pd
import glob

DATA_PATH = "../food/*.csv"
file_list = sorted(glob.glob(DATA_PATH))

overall_sum = {}

for file in file_list:
    print(f"Processing {file}")

    for chunk in pd.read_csv(
        file,
        usecols=["card_tpbuz_nm_2", "amt", "cnt"],
        chunksize=200_000
    ):
        grouped = chunk.groupby("card_tpbuz_nm_2")[["amt", "cnt"]].sum()

        for cat, row in grouped.iterrows():
            if cat not in overall_sum:
                overall_sum[cat] = row
            else:
                overall_sum[cat] += row
                
df_overall = (
    pd.DataFrame(overall_sum)
    .T
    .sort_values("amt", ascending=False)
)

df_overall

Processing ../food\202201.csv
Processing ../food\202202.csv
Processing ../food\202203.csv
Processing ../food\202204.csv
Processing ../food\202205.csv
Processing ../food\202206.csv
Processing ../food\202207.csv
Processing ../food\202208.csv
Processing ../food\202209.csv
Processing ../food\202210.csv
Processing ../food\202211.csv
Processing ../food\202212.csv
Processing ../food\202301.csv
Processing ../food\202302.csv
Processing ../food\202303.csv
Processing ../food\202304.csv
Processing ../food\202305.csv
Processing ../food\202306.csv
Processing ../food\202307.csv
Processing ../food\202308.csv
Processing ../food\202309.csv
Processing ../food\202310.csv
Processing ../food\202311.csv
Processing ../food\202312.csv
Processing ../food\202401.csv
Processing ../food\202402.csv
Processing ../food\202403.csv
Processing ../food\202404.csv
Processing ../food\202405.csv
Processing ../food\202406.csv
Processing ../food\202407.csv
Processing ../food\202408.csv
Processing ../food\202409.csv
Processing ../food\202410.csv
Processing ../food\202411.csv
Processing ../food\202412.csv
Processing ../food\202501.csv
Processing ../food\202502.csv
Processing ../food\202503.csv
Processing ../food\202504.csv
Processing ../food\202505.csv
Processing ../food\202506.csv
Processing ../food\202507.csv
Processing ../food\202508.csv
Processing ../food\202509.csv
Processing ../food\202510.csv
Processing ../food\202511.csv

                    amt        cnt
í•œì‹       14195616189451  440791557
ê³ ê¸°ìš”ë¦¬      7393177377761  164090243
ë””ì €íŠ¸/ìŒë£Œ    6901965258894  678078439
ì¼ì‹/ìˆ˜ì‚°ë¬¼    3976996144293   79383189
ë¶„ì‹        2251772115044  157555381
ê°„ì´ì£¼ì       2145798150028   46812656
íŒ¨ìŠ¤íŠ¸í‘¸ë“œ     1803164437001  149976951
ë³„ì‹/í“¨ì „ìš”ë¦¬   1694044623731   68012510
ì¤‘ì‹        1474129955189   60992246
ì–‘ì‹        1046776772600   29696361

In [4]:
# ë§Œë“¤ì–´ì§„ df_overallì„ csvë¡œ ì €ì¥í•˜ê¸°
import os

OUTPUT_DIR = "../output"
os.makedirs(OUTPUT_DIR, exist_ok=True)

df_overall_out = df_overall.reset_index()

df_overall_out.columns = ["category", "total_amt", "total_cnt"]

df_overall_out.to_csv(
    f"{OUTPUT_DIR}/overall_category_summary_202201_202511.csv",
    index=False,
    encoding="utf-8-sig"
)

======================= ìœ„ìª½ì´ colabì—ì„œ ì§„í–‰í•œ ë°©ë²•, ì•„ë˜ëŠ” ë¡œì»¬ì—ì„œ ì§„í–‰í•˜ê¸° ìœ„í•´ ì½ì–´ì˜¤ëŠ” ë°©ë²• ë° ì§„í–‰ =======================

In [5]:
import pandas as pd

OUTPUT_DIR = "../output"

df_overall = pd.read_csv(
    f"{OUTPUT_DIR}/overall_category_summary_202201_202511.csv"
)

df_overall

  category       total_amt  total_cnt
0       í•œì‹  14195616189451  440791557
1     ê³ ê¸°ìš”ë¦¬   7393177377761  164090243
2   ë””ì €íŠ¸/ìŒë£Œ   6901965258894  678078439
3   ì¼ì‹/ìˆ˜ì‚°ë¬¼   3976996144293   79383189
4       ë¶„ì‹   2251772115044  157555381
5     ê°„ì´ì£¼ì    2145798150028   46812656
6    íŒ¨ìŠ¤íŠ¸í‘¸ë“œ   1803164437001  149976951
7  ë³„ì‹/í“¨ì „ìš”ë¦¬   1694044623731   68012510
8       ì¤‘ì‹   1474129955189   60992246
9       ì–‘ì‹   1046776772600   29696361

======================= ì†ë„ê°€ ë¹„ìŠ·í•  ê±° ê°™ì•„ì„œ ë¡œì»¬ë¡œ ì›”ë³„ ì†Œë¹„, ê²°ì œ íšŸìˆ˜ ë“± í™•ì¸ =======================

In [6]:
import pandas as pd
import glob
import os

DATA_PATH = "../food/*.csv"
file_list = sorted(glob.glob(DATA_PATH))

file_list[:5], len(file_list)  # 202201 ~ 202511 í™•ì¸

(['../food\\202201.csv',
  '../food\\202202.csv',
  '../food\\202203.csv',
  '../food\\202204.csv',
  '../food\\202205.csv'],
 47)

In [7]:
monthly_data = []

for file in file_list:
    year_month = os.path.basename(file).replace(".csv", "")

    # ğŸ”‘ íŒŒì¼ ë‹¨ìœ„ ëˆ„ì ìš© Series
    file_sum = None

    for chunk in pd.read_csv(
        file,
        usecols=["card_tpbuz_nm_2", "amt"],
        chunksize=200_000
    ):
        chunk_sum = chunk.groupby("card_tpbuz_nm_2")["amt"].sum()

        if file_sum is None:
            file_sum = chunk_sum
        else:
            # ğŸ”¥ í•µì‹¬: ì¸ë±ìŠ¤ ê¸°ì¤€ ìë™ ì •ë ¬ + ëˆ„ì 
            file_sum = file_sum.add(chunk_sum, fill_value=0)

    # íŒŒì¼ í•˜ë‚˜ ëë‚˜ë©´ DataFrameìœ¼ë¡œ ë³€í™˜
    if file_sum is not None:
        file_df = file_sum.reset_index()
        file_df["year_month"] = year_month
        monthly_data.append(file_df)

# âœ… ìµœì¢… ë³‘í•© (ë‹¨ 1ë²ˆ)
df_monthly = pd.concat(monthly_data, ignore_index=True)
df_monthly.columns = ["category", "amt", "year_month"]

In [8]:
df_monthly

    category           amt year_month
0       ê°„ì´ì£¼ì    22766114240     202201
1       ê³ ê¸°ìš”ë¦¬  124196114177     202201
2     ë””ì €íŠ¸/ìŒë£Œ  117398382246     202201
3    ë³„ì‹/í“¨ì „ìš”ë¦¬   20774301698     202201
4         ë¶„ì‹   34968569481     202201
..       ...           ...        ...
465       ì–‘ì‹   23350298953     202511
466   ì¼ì‹/ìˆ˜ì‚°ë¬¼   83259531379     202511
467       ì¤‘ì‹   30829852696     202511
468    íŒ¨ìŠ¤íŠ¸í‘¸ë“œ   39705113280     202511
469       í•œì‹  328383981091     202511

[470 rows x 3 columns]

In [9]:
OUTPUT_DIR = "../output"
if not os.path.exists(OUTPUT_DIR):
    os.makedirs(OUTPUT_DIR)

df_monthly.to_csv(
    f"{OUTPUT_DIR}/monthly_category_amt_202201_202511.csv",
    index=False,
    encoding="utf-8-sig"
)

In [10]:
import pandas as pd

OUTPUT_DIR = "../output"

df_monthly = pd.read_csv(
    f"{OUTPUT_DIR}/monthly_category_amt_202201_202511.csv"
)

df_monthly

    category           amt  year_month
0       ê°„ì´ì£¼ì    22766114240      202201
1       ê³ ê¸°ìš”ë¦¬  124196114177      202201
2     ë””ì €íŠ¸/ìŒë£Œ  117398382246      202201
3    ë³„ì‹/í“¨ì „ìš”ë¦¬   20774301698      202201
4         ë¶„ì‹   34968569481      202201
..       ...           ...         ...
465       ì–‘ì‹   23350298953      202511
466   ì¼ì‹/ìˆ˜ì‚°ë¬¼   83259531379      202511
467       ì¤‘ì‹   30829852696      202511
468    íŒ¨ìŠ¤íŠ¸í‘¸ë“œ   39705113280      202511
469       í•œì‹  328383981091      202511

[470 rows x 3 columns]